kgserver/src/main/resources/webservices/kgram-ws/RemoteProducerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://webservice.kgramserver.edelweiss.inria.fr/" name="RemoteProducerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.kgramserver.edelweiss.inria.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.kgramserver.edelweiss.inria.fr/" schemaLocation="RemoteProducerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="reset">
    <part name="parameters" element="tns:reset"/>
  </message>
  <message name="resetResponse">
    <part name="parameters" element="tns:resetResponse"/>
  </message>
  <message name="load">
    <part name="parameters" element="tns:load"/>
  </message>
  <message name="loadResponse">
    <part name="parameters" element="tns:loadResponse"/>
  </message>
  <message name="query">
    <part name="parameters" element="tns:query"/>
  </message>
  <message name="queryResponse">
    <part name="parameters" element="tns:queryResponse"/>
  </message>
  <message name="getEndpoint">
    <part name="parameters" element="tns:getEndpoint"/>
  </message>
  <message name="getEndpointResponse">
    <part name="parameters" element="tns:getEndpointResponse"/>
  </message>
  <message name="setEndpoint">
    <part name="parameters" element="tns:setEndpoint"/>
  </message>
  <message name="setEndpointResponse">
    <part name="parameters" element="tns:setEndpointResponse"/>
  </message>
  <message name="uploadRDF">
    <part name="parameters" element="tns:uploadRDF"/>
  </message>
  <message name="uploadRDFResponse">
    <part name="parameters" element="tns:uploadRDFResponse"/>
  </message>
  <message name="uploadRDFS">
    <part name="parameters" element="tns:uploadRDFS"/>
  </message>
  <message name="uploadRDFSResponse">
    <part name="parameters" element="tns:uploadRDFSResponse"/>
  </message>
  <message name="loadRDF">
    <part name="parameters" element="tns:loadRDF"/>
  </message>
  <message name="loadRDFResponse">
    <part name="parameters" element="tns:loadRDFResponse"/>
  </message>
  <message name="getEdges">
    <part name="parameters" element="tns:getEdges"/>
  </message>
  <message name="getEdgesResponse">
    <part name="parameters" element="tns:getEdgesResponse"/>
  </message>
  <message name="initEngine">
    <part name="parameters" element="tns:initEngine"/>
  </message>
  <message name="initEngineResponse">
    <part name="parameters" element="tns:initEngineResponse"/>
  </message>
  <message name="initEngineFromSQL">
    <part name="parameters" element="tns:initEngineFromSQL"/>
  </message>
  <message name="initEngineFromSQLResponse">
    <part name="parameters" element="tns:initEngineFromSQLResponse"/>
  </message>
  <message name="runRule">
    <part name="parameters" element="tns:runRule"/>
  </message>
  <message name="runRuleResponse">
    <part name="parameters" element="tns:runRuleResponse"/>
  </message>
  <portType name="RemoteProducer">
    <operation name="reset">
      <input message="tns:reset"/>
      <output message="tns:resetResponse"/>
    </operation>
    <operation name="load">
      <input message="tns:load"/>
      <output message="tns:loadResponse"/>
    </operation>
    <operation name="query">
      <input message="tns:query"/>
      <output message="tns:queryResponse"/>
    </operation>
    <operation name="getEndpoint">
      <input message="tns:getEndpoint"/>
      <output message="tns:getEndpointResponse"/>
    </operation>
    <operation name="setEndpoint">
      <input message="tns:setEndpoint"/>
      <output message="tns:setEndpointResponse"/>
    </operation>
    <operation name="uploadRDF">
      <input message="tns:uploadRDF"/>
      <output message="tns:uploadRDFResponse"/>
    </operation>
    <operation name="uploadRDFS">
      <input message="tns:uploadRDFS"/>
      <output message="tns:uploadRDFSResponse"/>
    </operation>
    <operation name="loadRDF">
      <input message="tns:loadRDF"/>
      <output message="tns:loadRDFResponse"/>
    </operation>
    <operation name="getEdges">
      <input message="tns:getEdges"/>
      <output message="tns:getEdgesResponse"/>
    </operation>
    <operation name="initEngine">
      <input message="tns:initEngine"/>
      <output message="tns:initEngineResponse"/>
    </operation>
    <operation name="initEngineFromSQL">
      <input message="tns:initEngineFromSQL"/>
      <output message="tns:initEngineFromSQLResponse"/>
    </operation>
    <operation name="runRule">
      <input message="tns:runRule"/>
      <output message="tns:runRuleResponse"/>
    </operation>
  </portType>
  <binding name="RemoteProducerPortBinding" type="tns:RemoteProducer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="reset">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="load">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="query">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEndpoint">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setEndpoint">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="uploadRDF">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="uploadRDFS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loadRDF">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEdges">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="initEngine">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="initEngineFromSQL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="runRule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RemoteProducerService">
    <port name="RemoteProducerPort" binding="tns:RemoteProducerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

